<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-sky-200 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-5">
          <div class="text-sky-400 text-center mb-3 font-bold">
            <small>Bienvenido</small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-sky-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Correo electrónico
              </label>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-sky-300 text-sky-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Correo electrónico"
                formControlName="email"
              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-sky-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Contraseña
              </label>
              <input
                type="password"
                class="border-0 px-3 py-3 placeholder-sky-300 text-sky-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Contraseña"
                formControlName="password"
              />
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-sky-800 text-white active:bg-sky-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"
                [disabled]="!this.loginForm.valid"
              >
                Entrar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative">
        <div class="w-1/2">
          <a class="text-sky-200" routerLink="/">
            <small>Volver al Inicio</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
