<div class="card bg-base-100 shadow-xl">
<div class="items-center flex flex-wrap p-6">
  <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
    <img
      alt="..."
      class="max-w-full rounded-lg shadow-lg"
      src="/assets/images/home.jpeg"
    />
  </div>
  <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
    <div class="md:pr-12">
      <div
        class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
      >
        <fa-icon class="text-xl" [icon]="faBook()" />
      </div>
      <h3 class="text-3xl text-accent font-semibold">Aspectos históricos de la institución</h3>
      <p class="mt-4 text-lg leading-relaxed text-sky-500">
        La Supervisión Educativa en nuestro país se origina en el Acuerdo Ministerial 123-A Reglamento de Supervisión Técnica Escolar de fecha 11 de mayo de 1965, y el Decreto Legislativo 12-91 Ley de Educación Nacional (Título VII) de fecha 12 de enero de 1991, en cumplimiento de lo que dicta la Constitución Política de la República (Título II, Capítulo II, Sección IV). La Supervisión Educativa del Distrito 07-05-01 se rige en esta base legal.
Recientemente (en el año 2018) el Ministerio de Educación, creó el Sistema Nacional de Acompañamiento Educativo –SINAE- como una estrategia en la búsqueda de la calidad educativa en el país, con esto se transforma la figura de las Supervisiones Educativas a Coordinaciones Distritales con un equipo de tres profesionales: Coordinador(a) Distrital, atiende las funciones administrativas del Distrito Educativo; Asesor(a) Pedagógico, brinda acompañamiento pedagógico a los docentes en el aula y Asesor(a) Administrativo, brinda acompañamiento técnico, administrativo y de gestión a los directores de los centros educativos del distrito.
Los profesionales que conforman el equipo de esta Coordinación Distrital son: Lic. David Fernando Paz López, Coordinador Distrital; Lic. Luis Alejandro García Muj, Asesor Administrativo y Lic. Alfredo César Tacán Vásquez, Asesor Pedagógico.

      </p>
    </div>
  </div>
</div>
</div>
