<div class="items-center flex flex-wrap">
  <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
    <img
      alt="..."
      class="max-w-full rounded-lg shadow-lg"
      src="https://cdn.pixabay.com/photo/2015/10/13/05/39/antigua-guatemala-985617_1280.jpg"
    />
  </div>
  <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
    <div class="md:pr-12">
      <div
        class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
      >
        <fa-icon class="text-xl" [icon]="faBook()" />
      </div>
      <h3 class="text-3xl text-accent font-semibold">Educación</h3>
      <p class="mt-4 text-lg leading-relaxed text-sky-500">
        Este portal tiene como finalidad ayudarte con información estudiantil, docente y de gestiones.
      </p>
    </div>
  </div>
</div>
