<mat-card>
  <mat-card-header>
    <mat-card-title>Coodinación Escolar Distrito 01 0705</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Aliquip ipsum proident pariatur ipsum aliquip et cupidatat cupidatat ad ea laborum qui exercitation proident. Elit sint ut excepteur culpa irure excepteur voluptate elit dolore ut ea tempor. Eiusmod laboris aute cillum nisi incididunt quis sunt amet. Elit reprehenderit ex eiusmod duis incididunt mollit excepteur amet dolor eu sint ut eiusmod eiusmod.</p>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Información de la Coodinación Escolar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Incididunt est ea reprehenderit voluptate elit mollit sunt ea eu ullamco consectetur eu. Est minim non Lorem esse amet aliqua voluptate proident est tempor exercitation in. Lorem dolor laboris quis aliqua qui consectetur proident duis deserunt. Ut aliquip exercitation ad ex.</p>
  </mat-card-content>
</mat-card>

