<div class="container">
  <mat-card>
    <mat-card-content>
      <app-carousel/>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Información de la Coodinación Escolar Distrito 01 0705</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="HERRAMIENTAS CATEDRATICOS">
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
        </mat-tab>
        <mat-tab label="HERRAMIENTAS ESTUDIANTILES">
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
          <app-modal-father/>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
