<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <fa-icon [icon]="faBars()" />
    </button>
    <a
      [routerLink]="['/admin']"
      class="md:block text-left md:pb-2 text-sky-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class="block sm:hidden"> Comunica Educa </span>
      <span class="hidden sm:block"> Comunica Educa </span>
    </a>
    <ul class="md:hidden items-center flex flex-wrap list-none">
      <li class="inline-block relative">
        <user-dropdown class="block"></user-dropdown>
      </li>
    </ul>
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-sky-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/admin']"
              class="md:block text-left md:pb-2 text-sky-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              Comunica Educa
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <fa-icon [icon]="faTimes()" />
            </button>
          </div>
        </div>
      </div>
      <hr class="my-4 md:min-w-full" />

      <h6
        class="md:min-w-full text-sky-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Principal
      </h6>
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center" *ngFor="let item of menuItems()">
          <a
            [routerLink]="[item.link]"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-sky-700 hover:text-sky-500'
            "
          >
            <fa-icon
              class="mr-2 text-sm"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-sky-300'
              "
              [icon]="item.icon"
            />
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
