<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <div mat-subheader>JUBILACIÓN Y RENUNCIA</div>
      <mat-list-item *ngFor="let gestion of jubilacion()">
        <mat-icon matListItemIcon>{{gestion.icon}}</mat-icon>
        {{gestion.name}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>PRIMER INGRESO, REINGRESO</div>
      <mat-list-item *ngFor="let gestion of ingreso()">
        <mat-icon matListItemIcon>{{gestion.icon}}</mat-icon>
        {{gestion.name}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>TRASLADO Y PERMUTA</div>
      <mat-list-item *ngFor="let gestion of traslado()">
        <mat-icon matListItemIcon>{{gestion.icon}}</mat-icon>
        {{gestion.name}}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="col">
      <app-modal-father/>
      <app-modal-father/>
      <app-modal-father/>
      <app-modal-father/>
      <app-modal-father/>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
